<div class="c-container">
  <div class="c-box">
    <div class="c-content">
      <h2>01</h2>
      <h3>Service</h3>
      <p>Buncha text here</p>
      <a href="#">Button</a>
    </div>
  </div>
</div>
