
<div class="jumbotron jumbotron-fluid main-banner">
  <div class="container">
    <h1 class="display-4">Cocktails</h1>
    <p class="lead">Make yourself some beverages..</p>
  </div>
</div>

<div class="container">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
        <li class="list-group-item active d-flex justify-content-between"><strong><%=cocktail.name %></strong></li>
        <div class="container"><%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %></div>
        <div class="btn bth-outline-dark"><%= link_to 'See ingredients', cocktail_path(cocktail.id)%></div>
        <div class="btn btn-outline-dark"><%= link_to 'Delete this cocktail', cocktail_path(cocktail.id), method: :delete, data: { confirm: "Are you sure?" }%></div>
      </div>
  <% end %>
</div>






