
<div class="jumbotron jumbotron-fluid main-banner">
  <div class="container">
    <h1 class="display-4">Cocktails</h1>
    <p class="lead">Make yourself some beverages..</p>
  </div>
</div>

<div class="container d-flex justify-content-between">
  <% @cocktails.each do |cocktail| %>
    <%= render 'card', cocktail: cocktail %>
  <% end %>
</div>
<br>
<div class="container">
    <%= render 'card2' %>
</div>





