<div class="container"><h1>Your Cocktails!</h1></div>

<div class="alert alert-dark" role="alert"> <%= link_to 'Click here to make a new cocktail', new_cocktail_path, class: "alert-link" %> </div>
  <div class="container">
    <% @cocktails.each do |cocktail| %>
      <div class="card">
          <li class="list-group-item active d-flex justify-content-between"><strong><%=cocktail.name %></strong></li>
          <div class="btn bth-outline-dark"><%= link_to 'See ingredients', cocktail_path(cocktail.id)%></div>
          <div class="btn btn-outline-dark"><%= link_to 'Delete this cocktail', cocktail_path(cocktail.id), method: :delete, data: { confirm: "Are you sure?" }%></div>
      </div>
    <% end %>
  </div>
</div>

