<div class="container p-4"><%= simple_form_for(@cocktail) do |form| %>
  <%= form.input :name, placeholder: 'Strawberry Daquiri..' %>
  <%= form.submit 'save cocktail', class: "btn btn-success" %>
  <% end %>
</div>

<div class="container">
  <div class="btn btn-outline-dark"><%= link_to 'Back to cocktails screen', cocktails_path %></div>
</div>
