<div class="container p-4"><%= simple_form_for(@cocktail) do |form| %>
  <%= form.input :name, placeholder: 'Strawberry Daquiri..' %>
  <%= form.submit action_name == 'new' ? 'save cocktail' : 'edit cocktail', class: "btn btn-success" %>
  <% end %>
</div>
