<div class="container border border-success p-4"><h1>Add a new Ingredient</h1></div>

<%= render 'form', ingredient: @ingredient %>

<div class="container d-flex justify-content-center"><%= link_to 'Back to all ingredients', ingredients_path, class: "btn btn-dark" %> </div>
