<div class="container border border-success p-4"><h1>Add a dose</h1></div>

<%= render 'form', dose: @dose %>

<div class="container d-flex justify-content-center"><%= link_to 'Back to all ingredients', ingredients_path, class: "btn btn-dark" %> </div>
